<div class="row mb-4" th:each="locacao : ${locacoes}">
    <div class="col-1"></div>
    <div class="col-10" style="border: 2px solid black; border-radius: 15px;">
        <p class="fs-6 text-center fw-bold">Quarto <span th:text="${locacao.numeroQuarto}"></span></p>
        <div class="row gx-1">
            <div class="col-12">
                <p class="fs-6 fw-semibold">Senha: <span id="senha" class="" th:text="${locacao.senha}"></span></p>
            </div>
            <div class="col-3">
                <p class="fs-6 fw-semibold">Diária: R$<span class="fw-normal" th:text="${locacao.diaria}"></span></p>
            </div>
            <div class="col-5">
                <p class="fs-6 fw-semibold">Estadia: <span th:text="${locacao.diasEstadia}"></span> dia(s)</p>
            </div>
            <div class="col-4">
                <p class="fs-6 fw-semibold">Preço Total: R$<span class="fw-normal" th:text="${locacao.precoTotal}"></span></p>
            </div>
            <div class="col-6">
                <p class="fs-6 fw-semibold">In: <span class="fw-normal" th:text="${#temporals.format(locacao.checkIn, 'dd/MM/yyyy HH:mm')}"></span></p>
            </div>
            <div class="col-7">
                <p class="fs-6 fw-semibold">Out: <span class="fw-normal" th:text="${#temporals.format(locacao.checkOut, 'dd/MM/yyyy HH:mm')}"></span></p>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>
