<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!--SWEET ALERT-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!--JQUERY-->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!--CUSTOMS-->
    <script src="/js/index.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Hoteis SENAI</title>
    <style>
        .check{
            font-size: 10vmax;
        }

        .btn-home{
            background-color: #1ab188;
            border-color: #1ab188;
            color: white;
        }

        .btn-home:hover{
            background-color: #279678;
            border-color: #20856a;
            color: white;
        }

        .btn-home:focus{
            background-color: #279678;
            border-color: #20856a;
            box-shadow: 0px 0px 0px 5px rgba(35, 192, 150, 0.5);
            color: white;

        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Cadastro
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/cadLocacao">Locação</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Reserva</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <a class="btn btn-danger" id="btnLogout">Logout</a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="check text-center">
        <i class="fa-regular fa-circle-check" style="color: #63E6BE;"></i>
    </div>
    <div class="text-center">
        <p class="fs-3">Locação realizada com sucesso!</p>
        <p class="fs-5 text-break">A senha de seu quarto (Quarto número <span th:text="${num_quarto}"></span>) foi enviada para o seu email (<span th:text="${email_user}"></span>)!</p>
        <p class="fs-5 text-break">Lembre-se que sua senha não deve ser compartilhada com nenhuma pessoa desconhecida e que ela fica sob sua responsabilidade para ser mantida em segurança.</p>
        <div class="row">
            <div class="col-6">
                <form method="get" action="/cadLocacao">
                    <button type="submit" class="btn btn-primary">Realizar outra locação <i class="fa-solid fa-person-walking-arrow-loop-left fa-sm"></i></button>
                </form>
            </div>
            <div class="col-6">
                <form method="get" action="/">
                    <button type="submit" class="btn btn-home" href="/" >Página inicial <i class="fa-solid fa-house fa-sm"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>