<div class="col-8">
    <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">Quarto</label>
        <select name="numero_quarto" onchange="atualizarCampos(this)" class="form-select" id="inputGroupSelect01">
            <option selected disabled>Selecione o quarto</option>
            <option th:each="quarto : ${quartos}"
                    th:value="${quarto.numero_quarto}"
                    th:text="${quarto.numero_quarto} + ' - ' + ${quarto.tipo}">
            </option>
        </select>
    </div>
</div>
<div class="col-4 text-start">
    <button type="submit" class="btn btn-success">Fazer Locação</button>
</div>
<div class="col-12">
    <label class="form-label">Informações do Quarto</label>
</div>
<div class="col-3">
    <div class="input-group mb-3">
        <span class="input-group-text" id="spTipo">Tipo Quarto</span>
        <input readonly id="inputTipo" type="text" class="form-control" placeholder="Tipo" aria-label="Username"
               aria-describedby="spTipo">
    </div>
</div>
<div class="col-2">
    <div class="input-group mb-3">
        <span class="input-group-text" id="spEspaco">Espaco</span>
        <input readonly id="inputEspaco" type="text" class="form-control" placeholder="Espaco" aria-label="Espaco"
               aria-describedby="spEspaco">
    </div>
</div>
<div class="col-3">
    <div class="input-group mb-3">
        <span class="input-group-text" id="spPreco">Preço Diária (R$)</span>
        <input readonly id="inputPreco" type="text" class="form-control" placeholder="Preço" aria-label="Preço"
               aria-describedby="spPreco">
    </div>
</div>
<div class="col-12">
    <label class="form-label">Camas</label>
</div>
<div class="col-4">
    <div class="input-group mb-3">
        <span class="input-group-text" id="spSolteiro">Solteiro</span>
        <input readonly id="inputSolteiro" type="text" class="form-control" placeholder="Qtd. camas solteiro"
               aria-label="Espaco" aria-describedby="spSolteiro">
    </div>
</div>
<div class="col-4">
    <div class="input-group mb-3">
        <span class="input-group-text" id="spCasal">Casal</span>
        <input readonly id="inputCasal" type="text" class="form-control" placeholder="Qtd. camas casal"
               aria-label="Espaco" aria-describedby="spCasal">
    </div>
</div>
<div class="col-4"></div>
<div class="col-4">
    <label class="form-label">Banheiros</label>
</div>
<div class="col-8">
    <label class="form-label">Closet</label>
</div>
<div class="col-4">
    <div class="input-group mb-3">
        <span class="input-group-text" id="spBanheiros">Banheiros</span>
        <input readonly id="inputBanheiros" type="text" class="form-control" placeholder="Qtd. banheiros"
               aria-label="Espaco" aria-describedby="spBanheiros">
    </div>
</div>
<div class="col-8">
    <div class="form-check">
        <input disabled class="form-check-input" type="checkbox" id="inputCloset">
        <label class="form-check-label" for="inputCloset">
            Possui Closet
        </label>
    </div>
</div>
<hr>
<div class="col-12">
    <label class="form-label">Finalizar Locação</label>
</div>
<div class="col-6">
    <div class="input-group mb-3">
        <span class="input-group-text" id="spDias">Dias de Estadia</span>
        <input readonly id="inputDias" type="text" class="form-control" placeholder="Qtd. Dias" aria-label="Dias"
               th:value="${qtdDias}"
               aria-describedby="spDias">
    </div>
</div>
<div class="col-6">
    <div class="input-group mb-3">
        <span class="input-group-text" id="spTotal">Preço Total (R$)</span>
        <input readonly id="inputTotal" type="text" class="form-control" placeholder="Preço Total" aria-label="Total"
               aria-describedby="spDias">
    </div>
</div>