<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <!--SWEET ALERT-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!--JQUERY-->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!--FONT AWESOME-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
          integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <!--CUSTOMS-->
    <script src="/js/index.js" defer></script>
    <title>Hoteis SENAI</title>
    <style>
        body{
            overflow: hidden;
        }

        .container2{
            overflow-y: visible; /* Permite rolar verticalmente quando o conteúdo for grande */
            max-height: 80vh; /* Defina a altura máxima para a div com locações */
            max-width: 100vw;
            overflow-x: hidden;
        }

        .container2 p:not(:last-child) {
          margin-bottom: 1rem;
        }

        /* Tamaño del scroll */
        .container2::-webkit-scrollbar {
          width: 8px;
        }

         /* Estilos barra (thumb) de scroll */
        .container2::-webkit-scrollbar-thumb {
          background: #ccc;
          border-radius: 4px;
        }

        .container2::-webkit-scrollbar-thumb:active {
          background-color: #999999;
        }

        .container2::-webkit-scrollbar-thumb:hover {
          background: #b3b3b3;
          box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
        }

         /* Estilos track de scroll */
        .container2::-webkit-scrollbar-track {
          background: #e1e1e1;
          border-radius: 4px;
        }

        .container2::-webkit-scrollbar-track:hover,
        .container2::-webkit-scrollbar-track:active {
          background: #d4d4d4;
        }

        .curso{
            border: 2px black;
            border-radius: 20px;
        }

        .passadas{
            border: 2px black;
            border-radius: 20px;
        }

        .reservas{
            border: 2px black;
            border-radius: 20px;
        }
    </style>
</head>
<body>
<div th:insert="nav/navbar"></div>

<div class="p-2">
    <h2 class="text-center">Minhas Locações</h2>
    <div class="row">
        <div class="col-4" id="realizadas">
            <h4 class="text-center ">Realizadas <i class="fa-solid fa-square-check" style="color: #63E6BE;"></i></h4>
            <div class="container2 p-2 passadas">
                <div class="row mb-4" th:each="locacao : ${passadas}">
                    <div class="col-1"></div>
                    <div class="col-10" style="border: 2px solid black; border-radius: 15px;">
                        <div class="row" style="border-bottom: 2px solid black;">
                            <div class="col-6 mt-2">
                                <h5 class="fs-5 text-center fw-bold">Quarto <span
                                        th:text="${locacao.numeroQuarto}"></span></h5>
                            </div>
                            <div th:if="${locacao.noShow}" class="col-6 mt-2">
                                <span class="badge text-bg-danger"><i class="fa-solid fa-xmark"></i> Não Apareceu</span>
                            </div>
                            <div th:unless="${locacao.noShow}" class="col-6 mt-2">
                                <span class="badge text-bg-success"><i class="fa-solid fa-check fa-xs"></i> Realizada com sucesso</span>
                            </div>
                        </div>
                        <div class="row gx-1 mt-1">
                            <div class="col-12">
                                <p class="fs-6 fw-semibold">Senha: <span th:text="${locacao.senha}"></span></p>
                            </div>
                            <div class="col-6">
                                <p class="fs-6 fw-semibold">Diárias: <span th:text="${locacao.diasEstadia}"></span>
                                    dia(s)</p>
                            </div>
                            <div class="col-6">
                                <p class="fs-6 fw-semibold">Valor Diária: <span class="fw-normal"
                                                                                th:text="${#numbers.formatCurrency(locacao.diaria)}"></span>
                                </p>
                            </div>
                            <div class="col-6">
                                <p class="fs-6 fw-semibold">In: <span class="fw-normal"
                                                                      th:text="${#temporals.format(locacao.checkIn, 'dd/MM/yyyy HH:mm')}"></span>
                                </p>
                            </div>
                            <div class="col-7">
                                <p class="fs-6 fw-semibold">Out: <span class="fw-normal"
                                                                       th:text="${#temporals.format(locacao.checkOut, 'dd/MM/yyyy HH:mm')}"></span>
                                </p>
                            </div>
                            <div class="col-md-6">
                                <span><b>Valor Consumos</b></span>
                            </div>
                            <div class="col-md-6">
                                <span><b>Valor Total</b></span>
                            </div>
                            <div class="col-md-6">
                                <span th:text="${#numbers.formatCurrency(locacao.totalConsumo)}"></span>
                            </div>
                            <div class="col-md-6">
                                <span th:text="${#numbers.formatCurrency(locacao.diaria * locacao.diasEstadia + locacao.totalConsumo)}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
        </div>
        <div class="col-4" id="emCurso">
            <h4 class="text-center ">Em Curso <i class="fa-solid fa-hourglass-half"></i></h4>
            <div class="container2 p-2 curso">
                <div class="row mb-4" th:each="locacao : ${ativas}">
                    <div class="col-1"></div>
                    <div class="col-10" style="border: 2px solid black; border-radius: 15px;">
                        <div class="row" style="border-bottom: 2px solid black;">
                            <div class="col-6 mt-2">
                                <h5 class="fs-5 text-center fw-bold">Quarto <span
                                        th:text="${locacao.numeroQuarto}"></span></h5>
                            </div>
                            <div th:if="${locacao.isChecked}" class="col-6 mt-2">
                                <h5 class="fs-6 fw-semibold">
                                    <a id="btnConsumo" th:href="@{/consumo/{id}(id=${locacao.id})}" type="submit"
                                       class="ms-5 mb-2 fs-6 fw-semibold btn btn-success">
                                        <i class="fa-solid fa-plus"></i> Consumos
                                    </a>
                                </h5>
                            </div>
                        </div>
                        <div class="row gx-1 mt-1">
                            <div class="col-7">
                                <p class="fs-6 fw-semibold">Senha: <span th:text="${locacao.senha}"></span></p>
                            </div>
                            <div th:if="${locacao.isChecked}" class="col-4">
                                <span class="badge text-bg-success"><i class="fa-solid fa-check fa-xs"></i> Entrou no quarto</span>
                            </div>
                            <div class="col-6">
                                <p class="fs-6 fw-semibold">Diárias: <span th:text="${locacao.diasEstadia}"></span>
                                    dia(s)</p>
                            </div>
                            <div class="col-6">
                                <p class="fs-6 fw-semibold">Valor Diária: <span class="fw-normal"
                                                                                th:text="${#numbers.formatCurrency(locacao.diaria)}"></span>
                                </p>
                            </div>
                            <div class="col-6">
                                <p class="fs-6 fw-semibold">In: <span class="fw-normal"
                                                                      th:text="${#temporals.format(locacao.checkIn, 'dd/MM/yyyy HH:mm')}"></span>
                                </p>
                            </div>
                            <div class="col-7">
                                <p class="fs-6 fw-semibold">Out: <span class="fw-normal"
                                                                       th:text="${#temporals.format(locacao.checkOut, 'dd/MM/yyyy HH:mm')}"></span>
                                </p>
                            </div>
                            <div class="col-md-6">
                                <span><b>Valor Consumos</b></span>
                            </div>
                            <div class="col-md-6">
                                <span><b>Valor Total</b></span>
                            </div>
                            <div class="col-md-6">
                                <span th:text="${#numbers.formatCurrency(locacao.totalConsumo)}"></span>
                            </div>
                            <div class="col-md-6">
                                <span th:text="${#numbers.formatCurrency(locacao.diaria * locacao.diasEstadia + locacao.totalConsumo)}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
        </div>
        <div class="col-4" id="reservas">
            <h4 class="text-center">Reservas <i class="fa-solid fa-calendar-day" style="color: #3a74d9;"></i></h4>
            <div class="container2 p-2 reservas">
                <div class="row mb-4" th:each="locacao : ${futuras}">
                    <div class="col-1"></div>
                    <div class="col-10" style="border: 2px solid black; border-radius: 15px;">
                        <div class="row" style="border-bottom: 2px solid black;">
                            <div class="col-12 mt-2">
                                <p class="fs-5 text-center fw-bold">Quarto <span th:text="${locacao.numeroQuarto}"></span></p>
                            </div>
                        </div>
                        <div class="row gx-1 mt-1">
                            <div class="col-12">
                                <p class="fs-6 fw-semibold">Senha: <span th:text="${locacao.senha}"></span></p>
                            </div>
                            <div class="col-6">
                                <p class="fs-6 fw-semibold">Diárias: <span th:text="${locacao.diasEstadia}"></span>
                                    dia(s)</p>
                            </div>
                            <div class="col-6">
                                <p class="fs-6 fw-semibold">Valor Diária: <span class="fw-normal"
                                                                                th:text="${#numbers.formatCurrency(locacao.diaria)}"></span>
                                </p>
                            </div>
                            <div class="col-6">
                                <p class="fs-6 fw-semibold">In: <span class="fw-normal"
                                                                      th:text="${#temporals.format(locacao.checkIn, 'dd/MM/yyyy HH:mm')}"></span>
                                </p>
                            </div>
                            <div class="col-7">
                                <p class="fs-6 fw-semibold">Out: <span class="fw-normal"
                                                                       th:text="${#temporals.format(locacao.checkOut, 'dd/MM/yyyy HH:mm')}"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>